
.container2 {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-list{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.brand a {
	text-decoration: none;
}

.brand h1 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto;
	font-size: 1.7rem;
	text-transform: uppercase;
	color: white;
}


/* Header section */
#header {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  padding: 0;
	margin: 0;
	box-sizing: border-box;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
  margin: 0;
	box-sizing: border-box;
	padding: 0 10px;
}

#header .nav-list ul {
  padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
  padding: 0;
	margin: 0;
	box-sizing: border-box;
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */


/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */
}
/* End  Media Query For Desktop */


body {
  font-family: cursive;
  font-family: roboto;
  margin: 0;
  min-height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: auto;
}

/* second part - about.html*/
.two-column-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.profile-image-wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4vw;
  width: 80%;
  height: auto;
}

.profile-content-wrapper {
  padding: 2vw;
  padding-right: 6vw;
  text-align: justify;
}

.profile-content-wrapper h1 {
  color: black;
  font-size: 1.8vw;
}

.profile-content-wrapper p {
  color: black;
  font-size: 1.2vw;
}
#cont table{
	font-size: 1.2vw;
}

.contact {
  color: black;
	text-decoration:none;
	font-family: roboto;
}

/* timeline*/
/* The actual timeline (the vertical ruler) */
#time-line {
  background-color: #474e5d;
}

#time-line .head2 h2{
  text-align: center;
  color: white;
  font-size:2vw;
}

#time-line .timeline {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
#time-line .timeline::after {
  content: '';
  position: absolute;
  width: 0.5vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 49.5vw;
  margin-left: -0.2vw;
}

/* Container around content */
#time-line .container {
  padding: 1vw 4vw;
  position: relative;
  background-color: inherit;
  width: 33vw;
  height: auto;
}

/* The circles on the timeline */

#time-line .container::after {
  content: '';
  position: absolute;
  width: 2.5vw;
  height: 2.4vw;
  right: -1.5vw;
  background-color: white;
  border: 0.2vw solid #FF9F55;
  top: 2vw;
  border-radius: 100vw;
  z-index: 1;
}

/* Place the container to the left */

#time-line .left {
  left: 8.5vw;
}

/* Place the container to the right */
#time-line .right {
  left: 49.3vw;
}

/* Add arrows to the left container (pointing right) */
#time-line .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 3vw;
  width: 0;
  z-index: 1;
  right: 3vw;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
#time-line .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 3vw;
  width: 0;
  z-index: 1;
  left: 3vw;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
#time-line .right::after {
  left: -1.2vw;
}

/* The actual content */
#time-line .content {
  padding: 0 3vw;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

#time-line .content p{
  padding-bottom: 1.3vw;
  text-align: justify;
  font-size:1.2vw;
}

#time-line .content h2{
  padding-bottom: 0vw;
  font-size:1.5vw;
}

/* skillset*/
#skill .head2 h2{
  text-align: center;
  color: black;
  font-size:2vw;
  margin-bottom: 0;
}

.card-body-skill {
  width: 100%;
  height: 34vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card-skill {
  display: grid;
  grid-template-columns: 20vw;
  grid-template-rows: 4vw 26vw;
  grid-template-areas: "text1""text2";
  border-radius: 2vw;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 2vw;
}

.card-image-skill {
  grid-area: text1;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  margin-bottom: 0px;
}
.card-image-skill h2 {
  color: white;
  font-size: 1.8vw;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0;
}

.card-text-skill {
  grid-area: text2;
  margin: 2vw;
  margin-top: 0px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

.card-text-skill p {
  color: white;
  font-size: 1vw;
  font-weight: 300;
  text-align: center;
  margin: 1;
}

.card-text-skill h2 {
  color: white;
  margin-top: 0px;
  font-size: 2vw;
}

.container1 {
  width: 100%;
  background-color: white;
  height: 1vw;
}

.skills {
  text-align: right;
  color: white;
  height: 1vw;
  font-size: 1.5vw;
}

.glow {
  padding-bottom: 1.8vw;
  border-radius: 1.8vw;
}
.temp {
  margin-top: 1vw;
}

.glow p{
  margin-top: 0px;
  margin-bottom: 1vw;
  font-size: 1.2vw;
}

.glow:hover {
  transform: scale(1.10);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.Python {width: 80%; background-color: grey;}
.Matlab {width: 60%; background-color: grey;}
.SQL {width: 80%; background-color: grey;}
.JavaScript {width: 20%; background-color: grey;}

.Supervised {width: 80%; background-color: grey;}
.Unsupervised {width: 60%; background-color: grey;}
.Deep-Learning {width: 60%; background-color: grey;}
.Reinforcement {width: 40%; background-color: grey;}

.OOPs {width: 60%; background-color: grey;}
.Frontend {width: 20%; background-color: grey;}
.Databases {width: 60%; background-color: grey;}
.Deployment {width: 40%; background-color: grey;}

.Data-wrangling {width: 80%; background-color: grey;}
.Data-Visualization {width: 60%; background-color: grey;}
.ETL {width: 80%; background-color: grey;}
.AWS {width: 60%; background-color: grey;}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 9vw;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 2vw;
  padding: 1vw 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -3vw;
  left: 10vw;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.card-skill:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.temp1{
  text-align: center;
  font-size: 1vw;
  font-weight: 900;
}

/*card2*/
.card-image-skill.card2-skill {
  background-size: cover;
}

/*card3*/
.card-image-skill.card3-skill {
  background-size: cover;
}


/* third part - project.html*/
.card-body {
  width: 100%;
  height: auto;
  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  display: grid;
  grid-template-rows: 13.5rem 10rem 3.5rem;
  grid-template-areas: "image""text""stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 3rem;
}

.card-image {
  grid-area: image;
  background: url("images/img1.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 1rem;
}

.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 1rem;
}

.card-text p {
  color: grey;
  font-size: 1rem;
  font-weight: 300;
}

.card-text h2 {
  margin-top: 0;
  font-size: 2rem;
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  grid-template-rows: 3.5rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-stats .stat {
  position: relative;
  height: 2.3rem;
  padding: 1rem;
  padding-top:
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.card-stats .stat .fa {
  position: relative;
	justify-content: center;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

/*card2*/
.card-image.card2 {
  background: url("images/img2.jpg");
  background-size: cover;
}

.card-stats.card2 {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

/*card3*/
.card-image.card3 {
  background: url("images/img3.jpg");
  background-size: cover;
}

.card-stats.card3 {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

/* certificate */
.card-body-certificate {
  width: 100%;
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 1rem;
  justify-content: center;
  overflow: hidden;
}

.card-certificate {
  display: grid;
  grid-template-rows: 14rem 13.5rem;
  grid-template-areas: "image""text";
  border-radius: 1.5rem;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 3rem;
}

.card-image-certificate {
  grid-area: image;
  background: url("images/Data Visualization Nanodegree.png");
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  margin-bottom: -2.3rem;
  background-size: cover;
}

.card-text-certificate {
  grid-area: text;
  margin: 1.6rem;
  margin-top: 3rem;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

.card-text-certificate p {
  color: white;
  font-size: 0.9rem;
  font-weight: 200;
  text-align: center;
}

.card-text-certificate h2 {
  color: white;
  margin-top: 0;
  font-size: 1.2rem;
	font-weight: 900;
}

.card-certificate:hover {
  transform: scale(1.10);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

/*card2*/
.card-image-certificate.card2-certificate {
  background: url("images/Natural Language Processing.png");
  background-size: cover;
}

/*card3*/
.card-image-certificate.card3-certificate {
  background: url("images/Data Scientist.png");
  background-size: cover;
}

/*card4*/
.card-image-certificate.card4-certificate {
  background: url("images/Data Engineering Nanodegree.png");
  background-size: cover;
}

/*card5*/
.card-image-certificate.card5-certificate {
  background: url("images/Machine Learning Nanodegree.png");
  background-size: cover;
}

/*card6*/
.card-image-certificate.card6-certificate {
  background: url("images/Deep Reinforcement Learning.png");
  background-size: cover;
}

/*card7*/
.card-image-certificate.card7-certificate {
  background: url("images/Deep Learning Specialization.png");
  background-size: cover;
}

/*card8*/
.card-image-certificate.card8-certificate {
  background: url("images/Machine Learning Engineer.png");
  background-size: cover;
}

/*card9*/
.card-image-certificate.card9-certificate {
  background: url("images/Applied Machine Learning.png");
  background-size: cover;
}

/* Footer */
#footer {
  position: relative;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .brand1 {
  color: white;
  font-size: 0.8rem;
  font-weight: 900;
  text-align: center;
}

#footer .brand2 {
  color: white;
  font-size: 0.5rem;
  font-weight: lighter;
  text-align: center;
}

#footer .footer {
  height: 1.8rem;
  flex-direction: column;
  justify-content: center;
}
